* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 0;
}

.header {
    width: 100%;
    height: 14vh;
    background-color: #bdbdbd;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4vw;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    margin-top: 1.5vh;
}

.sidebar {
    width: 30vw;
    min-width: 30vw;
    background-color: #bdbdbd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
}

.content {
    width: 70vw;
    background-color: #bdbdbd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    margin-left: 1vw;
}

.footer {
    width: 100%;
    height: 8vh;
    background-color: #bdbdbd;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    margin-top: auto;
}

@media (max-width: 390px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    
    .header {
        width: 100vw;
        height: 10vh;
    }

    .main {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 75vh;
    }

    .sidebar {
        height: 75vh;
        width: 35%;
    }
    
    .content {
        height: 75vh;
        width: 65%;
    }

    .footer {
        width: 100vw;
        height: 10vh;
    }

}

@media (max-width: 932px) and (max-height: 430px) {
    
    .container {
        background-color: black;
        width: 100vw;
        height: 100vh;
    }
    
    .main {
        flex-direction: row;
        justify-content: center;
        height: 10vh;
    }

    .sidebar, 
    .content {
        width: 100vw;
        height: 50vh;
        padding: 2vh;
    }
    
    .footer {
        font-size: 1.8vw;
        width: 100vw;
        height: 20vh;
        
    }
}
